Django==5.2.6
gunicorn
whitenoise

django-cors-headers
django-extensions
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt

psycopg2-binary
python-dotenv
phonenumbers
Pillow
PyJWT

pandas
scikit-learn
joblib